@font-face {
    font-family: "Merriweather";
    src: url("../fonts/Merriweather.ttf");
}

body {
    margin: 0;
    background-color: #F7F7F7;
}


header{
    height: auto;
    overflow: hidden;
}

#title{
    position: absolute;
    margin-top: 20vh;
    margin-left: 10%;

    padding: 30px;
    color: #fff;
    text-shadow: #000 4px 4px 4px;
    text-align: center;
}

h1{
    font-size: max(50px, 5vw);
}

#button{
    margin-top: 100px;
    width: 50%;
    max-width: 380px;
    background-color: #7d0b23;
    transition: background-color 0.7s ease;
    font-size: 25px;
    padding: 30px;

}

#button:hover{
    background-color: #b3203d;
}

#myVideo{
        position: fixed;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
}

@media (max-width: 430px) {
    #button{
       font-size: 10px;
       padding: 20px;
    }
}

@media (max-width: 800px){
    #title{
        margin-left: auto;
        margin-right: auto;
    }
}