@font-face {
    font-family: "Merriweather";
    src: url("../fonts/Merriweather.ttf");
}

body {
    margin: 0;
    background-color: #F7F7F7;
}


header{
    height: auto;
    overflow: hidden;
}

#title{
    position: absolute;
    margin-top: 20vh;
    margin-left: 10%;

    padding: 30px;

    text-align: center;
}

#title h1{
    font-size: max(50px, 5vw);
    color: #fff;
    text-shadow: #000 4px 4px 4px;
}

#title h2{
    font-size: 30px;

}

#button{
    margin-top: 100px;
    width: 50%;
    max-width: 380px;
    background-color: #7d0b23;
    transition: background-color 0.7s ease;
    border: 1px solid ;
    font-size: 25px;
    padding: 30px;
    border: 1px solid #7d0b23;
}

.teste::before {
    position: absolute;
    content: "";
    display: block;
    opacity: .6;
    height: 200vh;
    width: 100%;
    background-color: black;
    z-index: -1;
}

#img1{
    max-width: 600px;
    max-height: 600px;
    width: 40%;
    margin: 0 20px;
    border-left: 3px solid #7d0b23;
    border-radius: 4px;
}

 #img2{
    max-width: 600px;
    max-height: 600px;
    width: 40%;
    margin: 0 20px;
    border-right: 3px solid #7d0b23;
    border-radius: 4px;
}

.about-container{
    background-color: rgb(247, 247, 247);
    width: 100vw;
    max-width: 1900px;
    margin: auto;
    margin-top: 100vh;
    z-index:-999;
    border-radius: 25px 25px 0 0;
    padding: 10%;
}

.container-title p {
    font-size: 19px;
}

.container-title{
    margin-left: 30px;
    min-width: 200px;
}

.container-border{
    border-bottom: 3px solid #7d0b23;
    width: 25%;
    margin: 15px;
}

.container-1{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    margin-bottom: 100px;
}

#button:hover{
    background-color: #b3203d;
}

#myVideo{
        position: fixed;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -999;
}

.main-title{
    margin: auto;
    text-align: center;
    padding-bottom: 100px;
    font-weight: 700;
    font-size: 52px;

}

@media (max-width: 430px) {
    #button{
       font-size: 10px;
       padding: 20px;
    }

}

@media (max-width: 768px) {
    #img1{
        margin-left: 10%;
    }

}

@media (max-width: 800px){

    #img1, #img2{
        width: 80%;
        margin-top: 40px;
        margin-bottom: 40px;
        border: 0;
    }
    
    #title{
        margin-left: auto;
        margin-right: auto;
    }

    .container-1{
        display: block;
        text-align: center;
    }

    #reverse{
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
    }

    .container-title{
        margin-top: 40px;
    }

    .container-border{
        margin: auto;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}