body {
    margin: 0;
    background-color: #f7f7f7;
}

header {
    width: 100vw;
    background-color: #7d0b23;
    opacity: 0.98;
}

#logo {
    position: relative;
    left: 3.5vw;
    transition: ease-in-out 0.5s;
}

#logo:hover {
    opacity: 0.5;
}

.btns {
    float: right;
    margin-right: 3vw;
}

.btns img {
    width: 40px; 
    height: 40px;
    margin: 15px;
}

@media (max-width: 700px){
    .btns img {
        width: 30px; 
        height: 30px;
        margin: 20px;
    }
}

@media (max-width: 370px){
    .btns img {
        width: 20px; 
        height: 20px;
        margin: 15px;
        margin-top: 25px;
    }
}

.saldo {
    margin-left: 5vw;
    margin-top: 5vh;
}

.painel {
    margin-left: 30vw;
    width: 65vw;
    height: 60vh;
    background-color: white;
}

h1 {
    font-family: "Nexa_Regular";
    font-weight: 700;
    font-size: 25px;
}

h2 {
    font-family: "Nexa_Regular";
    font-weight: 600;
    font-size: 15px;
}

h3 {
    font-family: "Nexa_Regular";
    font-weight: 700;
    font-size: 20px;
}